@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>First Name</p>
<input type="text" id="firstname" />

<p>Last Name</p>
<input type="text" id="lastname" />

<p>User Name</p>
<input type="text" id="username" />

<p><button id="trialButton">Trial</button></p>

<p>Use this area to provide additional information.</p>
