@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>First Name</p>
<input type="text" id="firstname" />

<p>Last Name</p>
<input type="text" id="lastname" />

<p>User Name</p>
<input type="text" id="username" />

<p>Status</p>
<select id="selectStatus">
    <option></option>
    <option>Employee - Active</option>
    <option>Employee - Inactive</option>
    <option>Internship</option>
</select>

<p id="inactiveUntil">Inactive Until
</p>

<p>
    <select>
        Positions
        <optgroup label="Junior">
            <option>Junior Application Software Developer</option>
            <option>Junior Embedded Software Engineer</option>
        </optgroup>
        <optgroup label="Senior">
            <option>Senior Application Software Developer</option>
            <option>Senior Embedded Software Engineer</option>
        </optgroup>
    </select>
</p>

<p>Use this area to provide additional information.</p>

                
